@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');

main{
    width: 100%;
    
}
.main__block{
   
    position: relative;
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto repeat(2, 600px ) auto;
    gap: 20px;
   
    
}
.main__block__product{
    position: relative;
    width: 1200px;
    height: 500px;
    margin: 0 auto;  
}
.catalog__aside{
    
    position: relative;
}
.catalog__p{
 
    background: var(--color_1);
    color: wheat;
    font-size: 22px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.catalog__p::before{
    content: '';
    position: absolute;
    right: 60px;
    top: 50%;
    transform: rotate(-45deg);
    display: block;
    width: 10px;
    height: 2px;
    background-color: wheat;
}
.catalog__p::after{
    content: '';
    position: absolute;
    right: 66px;
    top: 50%;
    transform: rotate(45deg);
    display: block;
    width: 10px;
    height: 2px;
    background-color: wheat;
}
.catalog__ul{
 
    display: grid;
    grid-auto-flow: row;
    gap: 10px; 
    padding: 10px;
}
.catalog__li{
    font-family: 'El Messiri', sans-serif;
    cursor: pointer;
    padding: 2px ;
    font-size: 22px;
    
    
   
}
.catalog__li:hover{
    background-color: rgb(238, 238, 238);
    
    
}
.catalog__li img{
    height: 22px;  
}
.top__sales{
    position: relative;
    grid-column: 1/3;
     
    cursor: pointer;
}

h3{
    font-size: 34px;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    text-decoration: underline;
    
}
.top__product {
    
    height: 85%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
   
}
.product__card {
    position: relative;
    background-color: rgb(216, 216, 216);
   
}
.product__card:hover{
    background-color: rgb(231, 231, 231);
    }
.top__all_product {
    margin-top: 10px;
    padding: 10px ;
    font-size: 19px;
    position: absolute;
    right: 10px;
    color: black;
    background-color: var(--color_2);
    border-radius: 8px;
}
.top__all_product:hover {
    background-color: rgb(27, 161, 161);
 
}
.offer{
    position: absolute;
    left: -15px;
    top: 25px;
    padding: 10px;
    font-size: 22px;
    color: white;
    box-shadow: 0 0 2px 0px black;
    z-index: 5;
}
.offer__top {
    
    background: red;
   
}
.offer__best{
    background: rgb(20, 202, 111);
}
.offer__new{
    background: rgb(20, 135, 202);
}
.name__product {
    font-size: 22px;
    text-align: center;
}
.img__product {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0);
    width: 70%;
    height: 70%;
    background: url(../img/default-image.png) center /cover no-repeat;
    z-index: 0;
}
.description__product {
    font-size: 11px;
    padding: 5px;
    position: absolute;
    bottom: 35px;
}
.price__product {
    position: absolute;
    bottom: 5px;
    left: 15px;
    font-size: 19px;
    
}
.btn__top_product{
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgb(24, 101, 124);
    color: white;
    padding:2px 5px;
    border-radius: 3px;
}
.btn__top_product:hover{
   
    background-color: rgb(13, 51, 63);

}




